<?xml version="1.0" ?>
<robot name="vessel_c">
  <link name="vessel_c__link">
    <inertial>
      <mass value="3000.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="13000" ixy="0.0" ixz="0.0" iyy="125000" iyz="0.0" izz="130000"/>
    </inertial>
    <collision name="vessel_c__collision">
      <origin xyz="0 0 0" rpy="0     0     1.5708"/>
      <geometry>
        <mesh filename="package://ship_models/VesselC/meshes/Boat03.dae" scale="0.9 0.9 0.9"/>
      </geometry>
    </collision>
    <visual name="vessel_c__visual">
      <origin xyz="0 0 0" rpy="0     0     1.5708"/>
      <geometry>
        <mesh filename="package://ship_models/VesselC/meshes/Boat03.dae" scale="0.9 0.9 0.9"/>
      </geometry>
    </visual>
  </link>
</robot>
